/*style.css*/

/*create variable for color*/
:root {
    --primary-color: #FBF9F1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--primary-color);
}

header {
    max-height: 200px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    width:100px; 
    height:100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 60%;
    background-color: white;
    margin: auto; /* Cambié el ancho al 100% */
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.info-container {
    margin: 20px;
    text-align: center;
    color: #406a70;
}

footer {
    background-color: #FBF9F1;
    color: #406a70;
    text-align: center;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #406a70;
    border-radius: 25px;
    color: #FBF9F1;
    background-color: #406a70;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #FBF9F1;
    color: #406a70;
}

/* Media Queries */
@media (max-width: 768px) {
    main {
        padding: 1em;
    }

    .card-container {
        flex-direction: column;
    }

    .info-container {
        margin: 20px 0;
    }
}

/*style.css*/

/* Tu estilo existente ... */
/*style.css*/

/* Tu estilo existente ... */

.login-form {
    color: #406a70;
    width: 40%;
    margin: 0 auto; /* Centrar el formulario */
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form .radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.login-form .radio-group label {
    flex: 1;
    margin-right: 8px;
}
